@tailwind base;
@tailwind components;
@tailwind utilities;
/* Loader Styles */
.loader {
  border-top-color: #e11d48; /* Tailwind's red-600 */
  animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
